.peao{
    background-image: url(../../assets/peao.jpg);
}

.github{
    background-image: url(../../assets/github.png);
}

.adas{
    background-image: url(../../assets/adas.jpg);
}

.pokemon{
    background-image: url(../../assets/pokemon.jpg);
}